node_modules
blog/wp-content/themes.bak
blog/wp-config.php
package-lock.json
blog/wp-content/themes/storefront-child/assets/pjs
blog/wp-content/themes/storefront-child/assets/css
blog/wp-dbconf-local.php
**/uploads/