@import '../../../../assets/sass/partials/imports';

@import 'assets/scss/partials/header';

#page {
    // background-image: url('../images/desert-background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 60%;
    background-color: white;
}

#main {
    background-color: $white;
    border-radius: $border-radius;
    padding: 25px 30px 25px;
}

#secondary {
    background-color: $white;
    // border-radius: $border-radius;
    padding: 20px 50px;
}

.site-main {
    ul.products {
        li.product,
        li.product.last {
            border: 3px solid #efefef;
            transition: #{$default-transition} #{$default-transition-time};
            padding-bottom: 1em;
            @include media-breakpoint-up('sm'){
                width: 23% !important;
                margin-right: 1% !important;
            }
            border-radius: 0 !important;
            &:hover {
                box-shadow: 0 0 2em $gray-alpha-2;
            }
        }

        
    }
}

.woocommerce-tabs {
    ul.tabs {
        width: 100% !important;
        border: none !important;

        li {
            display: inline-block !important;
            padding: 0 10px;
            border-radius: 8px 8px 0 0;

            a {
                outline: none;
            }

            &.active {
                background: rgba(0, 0, 0, .1);

                &::after {
                    opacity: 0 !important;
                }
            }
        }
    }

    .panel {
        float: none !important;
        width: 100% !important;
    }
}

form.cart {
    background: rgba(0, 0, 0, .1);
    padding: 0.3em ;
    .quantity .qty{
        outline: none;
        margin-left: .875em;
    }
    button {
        height: 100%;
        background-color: $brand-red !important;
    }
}
a.checkout-button{
    background-color: $brand-red !important;    
}
@include media-breakpoint-up('sm'){
    .single-product div.product .summary{
        width: 40% !important;
    }

    .woocommerce-product-gallery{
        width: 50% !important;
    }
}
@include media-breakpoint-down('sm') {
    .woocommerce-tabs ul.tabs li {
        width: 45%;
    }
    

}