
@import '../../../../assets/sass/partials/imports';
@import 'assets/scss/theme';
#page {
    background-image: url('../images/desert-background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: top;
    background-color: black;
}
#content{
    .col-full{
        width: 100% !important;
        max-width: 100% !important;
        margin: 0;
        padding: 0;
    }
    .container.w-100{
        max-width: 100% !important;
    }
}
#front-page{
    #products{
        // background-image: url('../images/diminas/bg-fpage-1.jpg');
        // background-repeat: repeat-y;
        // background-size: cover;
    }

}