
@import '../../../../assets/sass/partials/imports';
@import 'assets/scss/theme';
#page {
    background-image: url('../images/desert-background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position-y: 60%;
    background-color: black;
}
#content{
    .col-full{
        width: 100% !important;
        max-width: 100% !important;
        margin: 0;
        padding: 0;
    }
    .container.w-100{
        max-width: 100% !important;
    }
}
#front-page{
    .fp-title{
        transition: #{$default-transition} #{$default-transition-time};
        &:hover{
            background-color: $white-alpha-3 !important;
            color: $brand-dark !important;
        }
    }
    #front-banner{
        padding-bottom: 70px;
    }

}