@import 'partials/header';
@import 'partials/post';
body{
    margin: 0;
    padding: 0;
    padding-bottom: 100px; /* only for sampling */
    font-family: Montserrat;
}
/* Header definitions */
a:hover{
    text-decoration: none;
}
/* Page body definitions */
#body{
    position: relative;
    z-index: 2;
}
#body .row{
    justify-content: space-between;
}
#body .box{
    overflow: hidden;
}
.box-content .box-title{
    font-size: 2em;
    color: #6d2080;
}
.box-content .box-dcptn{
    margin-top: 1%;
    font-size: 1.2em;
}
.box-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.box-img{
    overflow: hidden;
}
.box.col-md-6,
.box.col-md-4{
    min-height: 567px;
}
.col-md-6 .box-img.col-12 img{
    height: 285px;
}
.col-md-4 .box-img.col-12 img{
    height: 185px;
}
.box-img.col-md-8 img{
    width: 100%;
    height: auto;
}
/* Post page */

.call-to-action{
    top: -55px;
}
/* Footer call-box definitions */

#call-box h2{
    color: #6d2080;
    font-size: 2.5em;
    font-weight: bold;
    font-family: Montserrat;
    margin: 6% 0% 4% 0%;
}
#call-box button{
    width: 20%;
    font-family: Montserrat;
    font-size: 1.2em;
    font-weight: bold;
    margin: 2%;
}
.box .btn{
    position: absolute;
    bottom: 0;
}
.box .box-content{
    height: 300px;
}
/****/
@media(min-width:992px){

    #body{
        margin-top: -100px;
    }
    #body .container .box{       
        font-family: Montserrat;
        display: inline-block;
    }
    #body .container .box:first-of-type{
        max-height: 400px !important;
    }
    #body .col-md-4{
        flex: 0 0 32%;
    }
    #the_related_posts .col-md-4{
        flex: 0 0 31%;
    }
    #body .col-md-6,
    #the_related_posts .col-md-6{
        flex: 0 0 49%;
    }
}
@media(max-width:991.97px){
    
    .container .box{
        width: 100%;
        margin-top: 30px;
    }
    #body{
        margin-top: 5%;
    }
    .container .col.box-content{
        font-size: 0.7em;
    }
    .box-content .btn{
        position: relative;
    }
    #call-box h2{
        font-size: 1.5em;
    }
    #call-box button{
        width: inherit;
    }
}

/* General classes */
.badge{
    color: white;
    font-size: 14px;
}
input[type=text]{
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 0px 0px 0px 30px;
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}
/*texts and colors*/


.parallax{
    background-attachment: fixed !important;
    background-position: 0 0;
}


