#the_post h1{
    color: #6d2080;
    font-size: 36px;
    font-weight: 600;
}
#the_content h2{
    color: #6d2080;
    font-size: 24px;
    font-weight: 600;
}
#the_content h3{
    color: #6d2080;
    font-size: 18px;
    font-weight: 600;
}
#the_content h4{
    color: #6d2080;
    font-size: 16px;
    font-weight: 600;
}
#the_content a{
    color: #6d2080;
}
