.btn{
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 16px;
    padding: 10px 12px;
    margin: 5px;
    text-transform: uppercase;
    box-sizing: border-box;
}
.btn-1{
    min-width: 170px;
    height: 50px;
}
.btn-2{
    min-width: 270px;
    height: 50px;
}