
.menu{
    transition: ease-in-out 200ms;
    font-family: $f-title;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vw;
    min-height: 0;
    .menu-item{
        cursor: pointer;
        display: inline-block;
        position: relative;
        z-index: 1;
        color: white;
        &::before{
            background: $orange;
            content: ' ';
            height: 0;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            transition: ease-in-out 200ms;
            z-index: 0;
        }
        &:hover{
            &::before{
                height: 100%;
                top: 0;
                z-index: -1;
            }
        }
    }
}
#main-header{
    max-width: 100vw;
    height: 100vh;
    font-family: $f-title;
    color: white;
    box-sizing: border-box;
    background-image: url('../img/train.jpg');
    background-position: 15% 0;
    background-size: 103%;
    margin-bottom: -1px;
    h1{
        font-size: 6rem;
    }
    .fixed-bottom{
        height: 100px;
        p{
            a{
                text-decoration: none;
                color: white;
            }
            height: 100%;
            i{
                position: relative;
            }
        }
    }
}
@include media-breakpoint-down(xs){
    #main-header{
        background-size: cover;
    }
    .menu{
        font-size: 12px;
        background-color:  rgba(0,0,0,0.5);
        overflow: hidden;
        .menu-item{
            display: block;
        }
    }
}
