.t{
    &-black{
        color: black !important;
    }
    &-white{
        color: white !important;
    }
    &-orange{
        color: $orange !important;
    }
    &-gray{
        color: $gray !important;
    }
    &-brand{
        color: $brand-main !important;
    }
}
.f{
    &-concert-one{
        font-family: $f-title;
    }
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6{
    font-family: $f-title
}