@import url('https://fonts.googleapis.com/css?family=Concert+One|Spirax');

$f-title:       'Concert One', cursive;
$f-default:     'Spirax', cursive;

$gray:          #a8a8a8 !default;
$brand-orange:  orange  !default;
$brand-green:   green   !default;
$success:       green   !default;
$brand-main:    #0b1924 !default;
$brand-dark:    #08121b !default;
$brand-light:   #1d262e !default;