#pg-header{
    text-align: center;
    font-family: Montserrat, Arial, "Open Sans";
    position: relative;
}
#pg-header::after{
    content: " ";
    background: #6d2080;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    z-index: 1;
}
#pg-header .title p{
    color: white;
    font-size: 1.6em;
    width: 50%
}


#navbar{
    width: 100vw;
    position: fixed;
    height: 140px;
    z-index: 3;
}

#navbar #gotoTalentInvest{
    position: absolute;
    right: 2%;
    font-family: Montserrat;
    font-size: 1.1em;
}
#navbar #getBackToHome{
    position: absolute;
    left: 2%;
    font-family: Montserrat;
    font-size: 1.1em;
}


#getBackToHome a,
#getBackToHome a:hover,
#gotoTalentInvest a,
#gotoTalentInvest a:hover{
    text-decoration: none !important;
}


.header-box{
    text-align: left;
    display: inline-block;
    position: relative;
    z-index: 2;
}
.header-box:last-of-type{
    margin-top: 100px;
}
.header-box #top-bar{
    margin-top: 1%;
}
.header-box .box{
    display: inline-block;
}
.header-box #top-bar .search-form .fa{
    position: relative;
    float: left;
    top: 11px;
    left: 22px;
    filter: invert(80%);
}
.header-box #top-bar .search-form input{
    margin-top: 8px;
}
.header-box .tags{
    font-size: 1.4em;
}
.header-box .tags a{
    text-decoration: none;
}
.header-box .social img{
    height: 40px;
    filter: invert(95%);
    margin: 0.2%;
}

@media screen and (min-width: 992px){
    #pg-header{
        min-height: 45vh;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 991.97px){
    #pg-header{
        text-align: center;
        min-height: 187px;
    }
    #pg-header .tags{
        display: none;
    }
    #pg-header .social{
        display: none;
    }
    #pg-header input[type=text]{
        width: 98%;
        display: inline-block;
        margin-left: -10px;
    }
    #pg-header .title p{
        width: 95%;
    }
    #pg-header .title{
        font-size: 0.6em;
    }
    #navbar #gotoTalentInvest{
        display: none;
    }
    .header-box #top-bar .search-form .fa{
        position: relative;
    }
}
@media screen and (max-width: 767.97px){
    #navbar{
        position: absolute;
    }
    .header-box #top-bar .search-form input{
        width: 100%;
    }
    .header-box #top-bar .search-form .fa{
        left: 9px;
        top: 27px;
    }
}
@media screen and (max-width:573.97px){


}